@import '../style/variables';

.feedback-form {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $primary;

  iframe {
    display: block; // iOS Chrome / Safari fix
  }
}

.feedback-form-back-button,
.show-feedback-form-button {
  transition: background $animation-duration $animation-easing;
  border-radius: 50%;
  cursor: pointer;
  fill: $neutral-light;
}

.feedback-form-back-button {
  position: absolute;
  top: 12.5px;
  left: 15px;

  background: $primary;
  width: 50px;
  height: 50px;

  &:hover {
    background: $primary-dark;
  }
}

.show-feedback-form-button {
  position: fixed;
  right: 20px;
  bottom: 20px;

  box-shadow: 0 0 5px 0 $danger-dark;
  background: $danger;
  width: 75px;
  height: 75px;

  &:hover {
    background: $danger-dark;
  }
}
