@import '../style/variables';
@import '../style/mixins';

.room-list {
  font-size: 1.1em;
}

.room-list-item {
  @include transition(border-color $animation-duration $animation-easing);

  margin: 5px 10px;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  padding-bottom: 5px;

  &:hover,
  &.selected {
    border-color: $neutral-light;
  }
}
