.supply-list {
  display: flex;
  justify-content: start;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 10px -10px;
}

.supply-list-item {
  width: 25%;

  transition: opacity ease-in-out 0.4s;
}

.supply-list-item.ng-enter {
  opacity: 0;
}

.supply-list-item.ng-enter-active {
  opacity: 1;
}

@media (min-width: 961px) and (max-width: 1200px) {
  .supply-list-item {
    width: 33%;
  }
}

@media (min-width: 769px) and (max-width: 960px) {
  .supply-list-item {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .supply-list-item {
    width: 100%;
  }
}

.supply-list-item-container {
  margin: 10px;
}

.supply-list-item-button {
  width: 100%;
  margin-bottom: 5px;
}

.supply-list-item-image {
  width: 128px;
  max-width: 100%;
  height: 128px;
  object-fit: cover;
}
