@import 'variables';
@import 'mixins';

// Full-height content
html,
body {
  height: 100%;
}

body {
  color: $neutral-light;
}

// Headings
h1 { font-size: $h1-font-size; }
h2 { font-size: $h2-font-size; }
h3 { font-size: $h3-font-size; }
h4 { font-size: $h4-font-size; }
h5 { font-size: $h5-font-size; }
h6 { font-size: $h6-font-size; }

// Positioning
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.stretch {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// Background colors
@include bg-variant('.bg-neutral-light', $neutral-light);

@include bg-variant('.bg-primary', $primary);
@include bg-variant('.bg-primary-dark', $primary-dark);
@include bg-variant('.bg-primary-light', $primary-light);

@include bg-variant('.bg-danger', $danger);
@include bg-variant('.bg-danger-dark', $danger-dark);
@include bg-variant('.bg-danger-light', $danger-light);

@include bg-variant('.bg-success', $success);
@include bg-variant('.bg-success-dark', $success-dark);
@include bg-variant('.bg-success-light', $success-light);

// Overflow
.overflow-hidden {
  @include overflow(hidden, hidden);
}

// Text
.text-center {
  text-align: center;
}
