@import '~bootstrap-sass/assets/stylesheets/bootstrap/mixins';

// Smooth scrolling
// http://weblog.west-wind.com/posts/2013/Jun/01/Smoothing-out-div-scrolling-in-Mobile-WebKit-Browsers
@mixin overflow($horizontal, $vertical) {
  overflow-x: $horizontal;
  overflow-y: $vertical;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
}
