@import '../style/variables';

.supply-list {
  margin: 10px;
}

.supply-list-item {
  width: 25%;
  text-align: center;

  @media (min-width: $md-min) and (max-width: $md-max) {
    width: 33%;
  }

  @media (min-width: $sm-min) and (max-width: $sm-max) {
    width: 50%;
  }

  @media (max-width: $xs-max) {
    width: 100%;
  }
}

.supply-list-item-button {
  margin-bottom: 50px;
}

.supply-list-item-container {
  $size: 128px;
  $shadow-size: 10px;

  display: inline-block;
  transition: all $animation-duration $animation-easing;
  margin-bottom: 10px;
  border-radius: 50%;
  background: $neutral-light;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: $size;

  cursor: pointer;
  padding: $size / 2 + $shadow-size; // fit square images without rounding them

  width: $size;
  height: $size;

  &:hover {
    box-shadow: inset 0 0 0 $shadow-size $primary-dark;
  }
}

.supply-list-item-name {
  margin-bottom: 10px;
}
