<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Betahaus Sofia Facility</title>

    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <meta content="True" name="HandheldFriendly">
    <meta content="320" name="MobileOptimized">
    <meta content="on" http-equiv="cleartype">

    <base href="/">
    <link rel="shortcut icon" href="icon.png">
    <link rel="manifest" href="manifest.json">

    <% // Spinner %>
    <style>
      body {
        background: #2980b9;
      }

      .spinner-view {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -150px;
        margin-left: -150px;
      }

      .spinner {
        width: 300px;
        height: 300px;
      }

      .spinner .from-center,
      .spinner .from-top,
      .spinner .from-left {
        stroke: white;
        fill: none;
      }

      .spinner .from-center {
        stroke-width: 5;

        -webkit-animation: expand-from-center 2.4s linear infinite;
        animation: expand-from-center 2.4s linear infinite;
      }

      .spinner .from-center-1 {
        animation-delay: 0.2s;
      }

      .spinner .from-center-2 {
        animation-delay: 0.8s;
      }

      .spinner .from-center-3 {
        animation-delay: 1.4s;
      }

      .spinner .from-center-4 {
        animation-delay: 2s;
      }

      @-webkit-keyframes expand-from-center {
        0% {
          opacity: 0;
          r: 45;
        }
        20%, 40% {
          opacity: 0.2;
        }
        30% {
          opacity: 0.4;
        }
        100% {
          opacity: 0;
          r: 150;
        }
      }

      @keyframes expand-from-center {
        0% {
          opacity: 0;
          r: 45;
        }
        20%, 40% {
          opacity: 0.2;
        }
        30% {
          opacity: 0.4;
        }
        100% {
          opacity: 0;
          r: 150;
        }
      }

      .spinner .from-top,
      .spinner .from-left {
        stroke-width: 10;
        stroke-linejoin: round;
        stroke-linecap: round;
      }

      .spinner .from-top {
        -webkit-animation: assemble-from-top 0.4s linear;
        -webkit-animation-fill-mode: forwards;

        animation: assemble-from-top 0.4s linear;
        animation-fill-mode: forwards;
      }

      @-webkit-keyframes assemble-from-top {
        0% {
          opacity: 0;
          -webkit-clip-path: polygon(
             50%   0%,
            100% -10%,
            100%  50%,
             50%  50%
          );
          clip-path: polygon(
             50%   0%,
            100% -10%,
            100%  50%,
             50%  50%
          );
        }
        60% {
          -webkit-clip-path: polygon(
             0% 20%,
            30%  0%,
            50% 30%,
            30% 50%
          );
          clip-path: polygon(
             0% 20%,
            30%  0%,
            50% 30%,
            30% 50%
          );
        }
        100% {
          opacity: 1;
          -webkit-clip-path: polygon(
            -30% 100%,
            -30%  60%,
             30%  60%,
             30% 100%
          );
          clip-path: polygon(
            -30% 100%,
            -30%  60%,
             30%  60%,
             30% 100%
          );
        }
      }

      @keyframes assemble-from-top {
        0% {
          opacity: 0;
          -webkit-clip-path: polygon(
             50%   0%,
            100% -10%,
            100%  50%,
             50%  50%
          );
          clip-path: polygon(
             50%   0%,
            100% -10%,
            100%  50%,
             50%  50%
          );
        }
        60% {
          -webkit-clip-path: polygon(
             0% 20%,
            30%  0%,
            50% 30%,
            30% 50%
          );
          clip-path: polygon(
             0% 20%,
            30%  0%,
            50% 30%,
            30% 50%
          );
        }
        100% {
          opacity: 1;
          -webkit-clip-path: polygon(
            -30% 100%,
            -30%  60%,
             30%  60%,
             30% 100%
          );
          clip-path: polygon(
            -30% 100%,
            -30%  60%,
             30%  60%,
             30% 100%
          );
        }
      }

      .spinner .from-left {
        -webkit-animation: assemble-from-left 0.4s linear;
        -webkit-animation-fill-mode: forwards;
        animation: assemble-from-left 0.4s linear;
        animation-fill-mode: forwards;
      }

      @-webkit-keyframes assemble-from-left {
        0% {
          opacity: 0;
          -webkit-clip-path: polygon(
              0%  60%,
             40%  60%,
             40%  60%,
             40%  60%,
             40% 150%,
             40% 150%,
             40% 150%,
              0% 150%
          );
          clip-path: polygon(
              0%  60%,
             40%  60%,
             40%  60%,
             40%  60%,
             40% 150%,
             40% 150%,
             40% 150%,
              0% 150%
          );
        }
        60% {
          -webkit-clip-path: polygon(
             70%  60%,
             90%  60%,
             90%  40%,
             90%  40%,
            150% 150%,
            100% 150%,
            100% 150%,
             70% 150%
          );
          clip-path: polygon(
             70%  60%,
             90%  60%,
             90%  40%,
             90%  40%,
            150% 150%,
            100% 150%,
            100% 150%,
             70% 150%
          );
        }
        100% {
          opacity: 1;
          -webkit-clip-path: polygon(
             82%  60%,
             90%  60%,
             90%  40%,
             82%  40%,
             82% -90%,
            150% -10%,
            150% 150%,
             82% 150%
          );
          clip-path: polygon(
             82%  60%,
             90%  60%,
             90%  40%,
             82%  40%,
             82% -90%,
            150% -10%,
            150% 150%,
             82% 150%
          );
        }
      }

      @keyframes assemble-from-left {
        0% {
          opacity: 0;
          -webkit-clip-path: polygon(
              0%  60%,
             40%  60%,
             40%  60%,
             40%  60%,
             40% 150%,
             40% 150%,
             40% 150%,
              0% 150%
          );
          clip-path: polygon(
              0%  60%,
             40%  60%,
             40%  60%,
             40%  60%,
             40% 150%,
             40% 150%,
             40% 150%,
              0% 150%
          );
        }
        60% {
          -webkit-clip-path: polygon(
             70%  60%,
             90%  60%,
             90%  40%,
             90%  40%,
            150% 150%,
            100% 150%,
            100% 150%,
             70% 150%
          );
          clip-path: polygon(
             70%  60%,
             90%  60%,
             90%  40%,
             90%  40%,
            150% 150%,
            100% 150%,
            100% 150%,
             70% 150%
          );
        }
        100% {
          opacity: 1;
          -webkit-clip-path: polygon(
             82%  60%,
             90%  60%,
             90%  40%,
             82%  40%,
             82% -90%,
            150% -10%,
            150% 150%,
             82% 150%
          );
          clip-path: polygon(
             82%  60%,
             90%  60%,
             90%  40%,
             82%  40%,
             82% -90%,
            150% -10%,
            150% 150%,
             82% 150%
          );
        }
      }
    </style>

    <% // FontAwesome %>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    >
  </head>

  <body>
    <div id="container">
      <% // Spinner displayed before the application loads %>
      <div class="spinner-view">
        <svg class="spinner" viewBox="0,0,300,300">
          <circle class="from-center from-center-1" cx="150" cy="150"></circle>
          <circle class="from-center from-center-2" cx="150" cy="150"></circle>
          <circle class="from-center from-center-3" cx="150" cy="150"></circle>
          <circle class="from-center from-center-4" cx="150" cy="150"></circle>

          <path
            class="from-top"
            d="
              M300,10
              c0,0 -160,0 -160,100
              v75
            "
          />

          <path
            class="from-left"
            d="
              M0,180
              h150
              c0,0 20,0 20,-15
              c0,0 0,-15 -20,-15
              h-15
            "
          />

           Loading...
        </svg>
      </div>
    </div>

    <% // Embedded form %>
    <% /* %>
    <iframe
      src="https://docs.google.com/forms/d/e/1FAIpQLSeGiloUO-HcDpf4V_yAnDNdDkfRPVeJGGF2Y2f6vt-lpeS-Yg/viewform?embedded=true"
      width="100%"
      height="1600px"
      frameborder="0"
      marginheight="0"
      marginwidth="0"
    >
      Loading...
    </iframe>
    <% */ %>

    <% // Application scripts %>
    <script src="https://www.gstatic.com/firebasejs/3.7.1/firebase.js"></script>
    <script src="facility.js"></script>
  </body>
</html>
