<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Betahaus Sofia Facility</title>

    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <meta content="True" name="HandheldFriendly">
    <meta content="320" name="MobileOptimized">
    <meta content="on" http-equiv="cleartype">

    <base href="/">
    <link rel="shortcut icon" href="icon.png">
    <link rel="manifest" href="manifest.json">

    <% // Spinner %>
    <style>
      body {
        background: #2980b9;
      }

      .spinner-view {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -3.6em;
        margin-left: -3.6em;
      }

      <% // http://projects.lukehaas.me/css-loaders/ %>
      .spinner,
      .spinner:before,
      .spinner:after {
        border-radius: 50%;
      }

      .spinner {
        color: #ffffff;
        font-size: 11px;
        text-indent: -99999em;
        margin: 55px auto;
        position: relative;
        width: 10em;
        height: 10em;
        box-shadow: inset 0 0 0 1em;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
      }

      .spinner:before,
      .spinner:after {
        position: absolute;
        content: '';
      }

      .spinner:before {
        width: 5.2em;
        height: 10.2em;
        background: #2980b9;
        border-radius: 10.2em 0 0 10.2em;
        top: -0.1em;
        left: -0.1em;
        -webkit-transform-origin: 5.2em 5.1em;
        transform-origin: 5.2em 5.1em;
        -webkit-animation: spin2 2s infinite ease 1.5s;
        animation: spin2 2s infinite ease 1.5s;
      }

      .spinner:after {
        width: 5.2em;
        height: 10.2em;
        background: #2980b9;
        border-radius: 0 10.2em 10.2em 0;
        top: -0.1em;
        left: 5.1em;
        -webkit-transform-origin: 0px 5.1em;
        transform-origin: 0px 5.1em;
        -webkit-animation: spin2 2s infinite ease;
        animation: spin2 2s infinite ease;
      }

      @-webkit-keyframes spin2 {
        0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }

      @keyframes spin2 {
        0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
    </style>

    <% // FontAwesome %>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    >
  </head>

  <body>
    <div id="container">
      <% // Spinner displayed before the application loads %>
      <div class="spinner-view">
        <div class="spinner"></div>
      </div>
    </div>

    <% // Embedded form %>
    <% /* %>
    <iframe
      src="https://docs.google.com/forms/d/e/1FAIpQLSeGiloUO-HcDpf4V_yAnDNdDkfRPVeJGGF2Y2f6vt-lpeS-Yg/viewform?embedded=true"
      width="100%"
      height="1600px"
      frameborder="0"
      marginheight="0"
      marginwidth="0"
    >
      Loading...
    </iframe>
    <% */ %>

    <% // Application scripts %>
    <script src="https://www.gstatic.com/firebasejs/3.7.1/firebase.js"></script>
    <script src="facility.js"></script>
  </body>
</html>
